  
name: build

on: [push, pull_request]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Get submodule hash
        id: submodule-hash-undec
        run: |
          echo "UNDEC_HASH=$(git ls-tree --abbrev performence-optimisation coq-library-undecidability | awk '{print $3}')" >> $GITHUB_ENV
          echo $UNDEC_HASH

      - name: Try to restore build cache
        id: opam-cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.opam
            ~/bin
          key: ${{ runner.os }}-${{ hashFiles('opam') }}-${{ env.UNDEC_HASH }}
          restore-keys : |
            ${{ runner.os }}-${{ hashFiles('opam') }}-
            ${{ runner.os }}-

      - name: Install OCaml
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: 4.07.1+flambda

      - run: make depsopam -j2
      - run: opam exec -- make all -j2 TIMED=1